<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      気になるお金のこと、
      相談してみよう
    </h2>
    <p class='service-explain'>
      『Money Community』は気軽にお金のことを相談できる
    </p>
    <p class='service-explain'>
      コミュニティーサイトです
    </p>
  </div>
  <%# /画面上部の帯部分  %>
  
  <%# Mocotyの特徴 %>
   <div class='feature-contents'>
    <h2 class='title'>
      Mocotyの活用方法
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "image1.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          お金のお悩みを共有できる
        </h3>
        <p class='feature-list-description'>
          「資産形成を真剣に考えたい」「投資をしたい」でも、どうしたら良いか分からない・・
          そんな時は疑問や悩みを投稿してみよう！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "image2.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          Mocotyのユーザーからコメントが寄せられる
        </h3>
        <p class='feature-list-description'>
          Mocotyには資産形成や投資に興味があるユーザやお金のプロも多数登録。
          投稿に対して、コメントやアドバイスを貰うことができます。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "image3.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          悩みや疑問を解決して、行動してみよう！
        </h3>
        <p class='feature-list-description'>
          疑問や不安を解決できたら、将来の為、理想の生活を実現する為の
          一歩を踏み出してみよう！
        </p>
      </li>
    </ul>
  </div>
  <%# /Mocotyの特徴 %>

  <%# 画面中央の帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      早速投稿記事を見てみよう！
    </h2>
    <p class='ad-explain'>
      Mocotyの投稿記事の検索で、みんながどんなことで悩んでいるのか分かるので、
    </p>
    <p class='ad-explain'>
      同じような悩みを持ったユーザーと交流を持つ事ができます。
    </p>
    <p class='ad-explain'>
      あなたの体験やお悩みも投稿してみましょう！
    </p>
  </div>
  <%# /画面中央の帯部分 %>

  <%# 投稿投稿 %>
  <div class='item-contents'>
    <h2 class='title'>投稿記事</h2>
    <%= link_to '新規投稿記事', "#", class: "subtitle" %>
    <ul class='item-lists'>
      <% @posts.each do |post| %>
      <li class='list'>
        <%= link_to post_path(post.id) do %>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= post.category.name %>
          </h3>
          <div class='item-price'>
            <span><%= post.title %><br><%= post.article %></span>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <%# /投稿一覧 %>
</div>
<%= render "shared/footer" %>


