<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('logo2.png' , size: '180x100'), "/" %>
  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">投稿記事の入力</h2>
    <%= form_with model:@post, url:posts_path, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %> 

    <%# 記事投稿 %>
    <div class="new-items">
      <div class="weight-bold-text">
          投稿カテゴリー
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          相談内容
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :article, class:"items-text", id:"item-info", placeholder:"本文（必須 1,000文字まで)内容やキーワードを分かりやすく入力すると、コメントを寄せられやすくなります" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /記事投稿 %>
    <%# 注意書き %>
    <div class="caution">
      <p class="sentence">
        <a href="#">個人が特定されるような投稿</a>
        <a href="#">営利目的、特定の企業・個人への誹謗中傷</a>
        となる書き込みはお控えください。
      </p>
      <p class="sentence">
        <a href="#">ガイドラインをお読みのうえ、</a>
        ルールに沿った投稿をお願いします。
      </p>
    </div>
    <%# /注意書き %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">MoCoty利用規約</a></li>
    </ul>
    <%= link_to image_tag('logo2.png' , size: '150x90'), "/" %>
    <p class="inc">
      ©︎Mocoty,Inc.
    </p>
  </footer>
</div>