<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">


    <div class="post-explain-box">
      <span><%= "投稿記事" %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">ニックネーム</th>
          <td class="detail-value"><%= @post.user.nickname %>さん</td>
        </tr>
        <tr>
          <th class="detail-post">カテゴリー</th>
          <td class="detail-value"><%= @post.category.name %></td>
        </tr>
        <tr>
          <th class="detail-post">タイトル</th>
          <td class="detail-value"><%= @post.title %></td>
        </tr>
        <tr>
          <th class="detail-post-a">本文</th>
          <td class="detail-value-a"><%= @post.article %></td>
        </tr>
      </tbody>
    </table>
  <% if user_signed_in? %>
   <% if current_user == @post.user %>
    <%= link_to "投稿記事の編集", edit_post_path, method: :get, class: "post-edit-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", "#", method: :delete, class:"post-destroy" %>
   <% end %>
  <% end %>
　<%# /投稿の概要 %>

  <!--コメントの表示 -->
  <div>
    <h4>コメント</h4>
    <div id="comments_area">
      <!-- 投稿されたコメント一覧を詳細ページに表示する -->
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
      <% if user_signed_in? %>
        <!-- コメント入力欄を詳細ページに表示する -->
        <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
      <% end %>
    </div>
  </div>


<%= render "shared/footer" %>
